Flask
Flask-RESTful
flask_restplus
Flask-SQLAlchemy
Flask-Migrate
Flask-HTTPAuth

gunicorn>=17.5
gevent


# Local environment only, but avoiding extra requirements files only for this job-application task
pytest
pytest-flask
Flask-Script
